@model IEnumerable<EpayApp.Models.AuthoriseCardRequestModel>

@{
    ViewData["Title"] = "Transaction Report";
}

<h1>Transaction Report</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaskedCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
